.form-container {
  grid-row: 2 / 3;
  gap: 0.5rem;

  justify-content: center;
  align-items: center;
}

.form-container__header {
  font-size: 1.5em;
}

.form {
  gap: 0.2rem;
  padding: 2rem 3rem 1rem 3rem;

  border-radius: 0.4rem;
}

.form__title {
  padding-bottom: 1rem;
  text-align: center;
  font-size: 1.2em;
  font-weight: 2em;
}

.form__msg {
  text-align: center;
  opacity: 0;
}

.form label {
}

.form input,
form input:focus {
  width: 20rem;
  height: 2rem;
  border-radius: 0.2rem;
  border: none;
  outline: none;
}

.form input[type="text"],
.form input[type="password"] {
  padding-left: 0.5rem;
  color: inherit;
  margin-bottom: 1rem;
}

.form input[type="submit"] {
  cursor: pointer;
}
